<html>
<head>
<title>Visualize It!</title>
<!-- Below is for ajax call security -->
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>
<%= csrf_meta_tag %>
</head>
<body>
<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>
<% puts "Plan is : #{@salary.inspect}, #{@expenses.inspect}, #{@budg.inspect}" %>	
<%= debug "Plan is : #{@salary.inspect}, #{@expenses.inspect}, #{@budg.inspect}" %>	
OK...<br>
<%# @plan.each do |p| %>	
	From a weekly salary of $<%= @salary %>, you must pay a minimum of 
	$<%= @expenses %> in expenses, but you still need to save weekly 
	$<%= @budg %> to achieve what you want annually.
<%# end %>
</body>
</html>